body{
    background-color: green;
}
.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 500px;
}

.entrada_dados{
    margin-bottom: 15px;
}



